{% extends "base.html" %}

{% load i18n staticfiles common_tags %}

{% block addon_styles_and_scripts %}
    <link rel="stylesheet" href="{% static 'datatables/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block title %}{{ PROJECT_NAME }} - {% trans "APL Tasks" %}{% endblock %}

{% block content %}
    <legend>{{ table_title }}</legend>
    <div class="container" style="width: 90%;">
        <div class="row row-centered">
            <table id="apl-table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr{% if record.highlight %} class='active'{% endif %}>
                    {% for field in order %}
                        <td>{{ record|getattribute:field }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block addon_scripts %}
    <script src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'datatables/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'base/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'base/js/jszip.min.js' %}"></script>
    <script src="{% static 'base/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'base/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'base/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'base/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'base/js/buttons.colVis.min.js' %}"></script>
    <script class="init" type="text/javascript">
    $(document).ready(function() {
        var table = $('#apl-table').DataTable( {
            buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
        } );

        table.buttons().container()
            .appendTo( '#apl-table_wrapper .col-md-6:eq(0)' );
    } );
    </script>
{% endblock %}