{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}{{ PROJECT_NAME }} - {% trans "Wizard" %}{% endblock %}

{% block addon_styles_and_scripts %}
    {% if create_form %}
    {% elif select_form %}
    {% else %}
        <style>label {display: inline-block; width: 5em;}</style>
        <link rel="stylesheet" href="{% static 'google-prettify/prettify.css' %}">
        <link rel="stylesheet" href="{% static 'summernote/summernote.css' %}">
        {# <link rel="stylesheet" href="{% static 'summernote/plugins/myplugin.css' %}"> #}
        <script src="{% static 'summernote/summernote.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if create_form %}
        {% include "wizard/wizard/create-apl-form.html" %}
    {% elif select_form %}
        {% include "wizard/wizard/select-seq-form.html" %}
    {% else %}
        {% include "wizard/wizard/data-form.html" %}
    {% endif %}
{% endblock %}

{% block addon_scripts %}
    {% if create_form %}
        <script type="text/javascript">
            $(window).load(function(){ $('#create-modal').modal({
                show: true,
                backdrop: 'static',
                keyboard: false
            }); });
        </script>
    {% elif select_form %}
    {% else %}
        {% if edit_mode %}
            <script src="{% static 'base/js/jquery.fullscreen.min.js' %}"></script>
            <script src="{% static 'google-prettify/prettify.js' %}"></script>
            <script src="{% static 'django_summernote/jquery.ui.widget.js' %}"></script>
            <script src="{% static 'django_summernote/jquery.iframe-transport.js' %}"></script>
            <script src="{% static 'django_summernote/jquery.fileupload.js' %}"></script>
            <script src="{% static 'summernote/plugin/summernote-ext-highlight.js' %}"></script>
            <script src="{% static 'summernote/plugin/summernote-ext-constants.js' %}"></script>
            {# <script src="{% static 'summernote/plugins/myplugin.js' %}"></script> #}
            <script src="{% static 'bootstrap-paginator/js/bootstrap-paginator.min.js' %}"></script>
            {% include 'wizard/wizard/data-form-scripts.html' %}
        {% endif %}
    {% endif %}
{% endblock %}