<script>
    $(document).ready(function() {
        $('#di{{ item.id }}-save').click(function (e) {
            prettyPrint();
            e.preventDefault();
            var new_value = $('#di{{ item.id }}').summernote('code').trim();
            var old_value = $('#{{ item.id }}-value').html().trim();
            if (new_value === old_value) {
                $('#di{{ item.id }}-group').removeClass('has-danger').removeClass('has-success').removeClass('has-primary').removeClass('has-info');
                $('#di{{ item.id }}-group').addClass('has-warning');
                $('#di{{ item.id }}-label').removeClass('text-danger').removeClass('text-success').removeClass('text-primary').removeClass('text-info');
                $('#di{{ item.id }}-label').addClass('text-warning');
                $().toastmessage('showToast', {text : '{{ message_nochange }}', type : 'warning', image : 'warning'})
            } else {
                $.ajax({
                    type: "POST",
                    url: "{% url 'save_di' %}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        apl: {% with request.session.recent|last as last %}{{ last.id.0 }}{% endwith %},
                        item: {{ item.id }},
                        value: new_value,
                    },
                    success: function(response){
                        if (response.status == 200) {
                            $('#di{{ item.id }}-group').removeClass('has-danger').removeClass('has-warning').removeClass('has-primary').removeClass('has-info');
                            $('#di{{ item.id }}-group').addClass('has-success');
                            $('#di{{ item.id }}-label').removeClass('text-danger').removeClass('text-warning').removeClass('text-primary').removeClass('text-info');
                            $('#di{{ item.id }}-label').addClass('text-success');
                            $('#{{ item.id }}-value').html(response.value);
                            $().toastmessage('showToast', {text : '{{ message_success }}', type : 'success', image : 'success'})
                        } else {
                            $('#di{{ item.id }}-group').removeClass('has-success').removeClass('has-warning').removeClass('has-primary').removeClass('has-info');
                            $('#di{{ item.id }}-group').addClass('has-danger');
                            $('#di{{ item.id }}-label').removeClass('text-success').removeClass('text-warning').removeClass('text-primary').removeClass('text-info');
                            $('#di{{ item.id }}-label').addClass('text-danger');
                            $().toastmessage('showToast', {text : response.error, type : 'danger', image : 'danger'})
                            $('#di{{ item.id }}').summernote("code", old_value);
                        }
                    }
                });
            }
            return false;
        });
    });
</script>