bcrypt
beautifulsoup4
celery>=2.5.2
coverage>=3.0
csscompressor
django>=1.9
django_admin_bootstrapped
django-admin-honeypot
django-admin-sortable2
django-bootstrap-themes
django-bootstrap3
django-celery
django-compressor
django-extensions
django-form-utils
django-formtools
django-modeladmin-reorder
django-model-utils
django-nose
django-simple-history
django-smuggler
django-storages
django-summernote
html5lib
lxml
mock
nose
nose-cover3
pydot2
pyparsing
python-dateutil
python-memcached
slimit
unittest2>=0.4.0
