Django>=1.7
django_admin_bootstrapped
django-bootstrap-themes
django-admin-sortable2
celery>=2.5.2
django-celery
unittest2>=0.4.0
coverage>=3.0
nose
nose-cover3
mock
django-nose
python-memcached
bcrypt