{% load staticfiles i18n %}

{% trans "Sign In" as button_signin %}

<form method="post" role="form1" id="signin-form" class="validate">
{% csrf_token %}
    <div class="modal fade" role="dialog" id="signin-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ button_signin }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="entypo-user"></i></div>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="entypo-key"></i></div>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                                   autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="type" value="signin"/>
                        <button type="submit" class="btn btn-primary btn-block">
                            {{ button_signin }}
                            <i class="entypo-login"></i>
                        </button>
                    </div>

                    <!-- Implemented in v1.1.4 -->
                    <!--    <div class="form-group">
                          <em>- or -</em>
                      </div>

                      <div class="form-group">
                          <button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left facebook-button">
                              Login with Facebook
                              <i class="entypo-facebook"></i>
                          </button>
                      </div>

                      You can also use other social network buttons
                      <div class="form-group">
                          <button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left twitter-button">
                              Login with Twitter
                              <i class="entypo-twitter"></i>
                          </button>
                      </div>

                      <div class="form-group">
                          <button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left google-button">
                              Login with Google+
                              <i class="entypo-gplus"></i>
                          </button>
                      </div> -->
                </div>
            </div>
        </div>
    </div>
</form>

{% if not request.POST.type == 'signup' %}
<script>
    $(window).load(function(){ $('#signin-modal').modal('show'); $('#signup-modal').modal('hide'); });
</script>
{% endif %}
