{% extends "base.html" %}

{% load staticfiles i18n  %}

{% block title %}{{ PROJECT_NAME }} | {% trans "Index" %}{% endblock %}

{% block addon_styles_and_scripts %}
    <style> .widewrapper > img { width:100%; } </style>
{% endblock %}

{% block content %}
    {% trans "Dear user, welcome to SCAPL, please sign in or sign up !" as msg_welcome %}
    {% trans "Sign In" as button_signin %}
    {% trans "Sign Up" as button_signup %}
    {% trans "Forgot your password ?" as msg_forgotpswd %}

    <div class="jumbotron widewrapper">
        <div class="container">
            <p align="center"><img src="{% static 'base/images/scapl-banner.png' %}" width="80%" alt=""/></p>
        </div>
    </div>
    <p align="center">{{ msg_welcome }}</p>
    <p align="center">
        <button class="btn btn-primary btn-lg" data-toggle="modal" href="#signin-modal">{{ button_signin }}</button>
        <button class="btn btn-info btn-lg" data-toggle="modal" href="#signup-modal">{{ button_signup }}</button>
    </p>
    <p align="center"><a href="{% url 'password' %}" class="link">{{ msg_forgotpswd }}</a></p>

    {% include "common/index/signin-form.html" %}
    {% include "common/index/signup-form.html" %}
{% endblock %}

{% block addon_scripts %}
    <script src="{% static 'base/js/jquery.modal-steps.min.js' %}"></script>
    <script>
    {% if request.POST.type == 'signup' %}
        $(window).load(function(){ $('#signin-modal').modal('hide'); $('#signup-modal').modal('show'); });
    {% else %}
        $(window).load(function(){ $('#signin-modal').modal('show'); $('#signup-modal').modal('hide'); });
    {% endif %}
        $('#signup-modal').modalSteps({
            btnPreviousHtml: '<font size="4"><i class="fa fa-chevron-left"></i></font>',
            btnNextHtml: '<font size="4"><i class="fa fa-chevron-right"></i></font>',
            btnLastStepHtml: '<font size="4"><i class="fa fa-check"></i></font>',
            callBack: {
                '1': $("#signup-form").validate()
            }
        });
    </script>
{% endblock %}