{% load staticfiles i18n %}

{% trans "Dear user, welcome to SCAPL, please sign in or sign up !" as msg_welcome %}
{% trans "Sign In" as button_signin %}
{% trans "Sign Up" as button_signup %}
{% trans "Forgot your password ?" as msg_forgotpswd %}

<style> .widewrapper > img { width:100%; } </style>
<div class="jumbotron widewrapper">
    <div class="container">
        <p align="center"><img src="{% static 'base/images/scapl-banner.png' %}" width="80%" alt=""/></p>
    </div>
</div>
<p align="center">{{ msg_welcome }}</p>
<p align="center">
    <button class="btn btn-primary btn-lg" data-toggle="modal" href="#signin-modal">{{ button_signin }}</button>
    <button class="btn btn-info btn-lg" data-toggle="modal" href="#signup-modal">{{ button_signup }}</button>
</p>
<p align="center"><a href="{% url 'password' %}" class="link">{{ msg_forgotpswd }}</a></p>

{% include "common/index-content-signin-form.html" %}
{% include "common/index-content-signup-form.html" %}
