<script>
    function get_di{{ item.id }}(toast) {
        $.ajax({
            type: 'POST',
            url: '{% url 'update_di' %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                task: '{{ item.task }}',
            },
            success: function(response){
                if (toast) {
                    if (response.status == 200) {
                        $('#di{{ item.id }}-result').removeClass('text-danger');
                        $('#di{{ item.id }}-result').addClass('text-success');
                        $('#di{{ item.id }}-result').html('<div class="result-text">' + response.result.output + '</div>');
                    } else if (response.status == 204) {
                        $().toastmessage('showToast', {text: response.warning, type: 'warning', image: 'warning'});
                    } else {
                        $('#di{{ item.id }}-result').removeClass('text-success');
                        $('#di{{ item.id }}-result').addClass('text-danger');
                        $('#di{{ item.id }}-result').html('<div class="result-text">' + response.error + '</div>');
                    }
                }
            },
        });
    }

    $(document).ready(function() {{% if item.refresh %}
        setInterval("get_di{{ item.id }}(false)", {{ RESULT_REFRESH_DELAY }}*1000);
        {% endif %}$('#di{{ item.id }}-update').click(function(e) {
            e.preventDefault();
            get_di{{ item.id }}(true);
            return false;
        });
    });
</script>