{% load staticfiles i18n %}

{% trans "APL overview for" as legend_overview %}
{% trans "APL Reference" as legend_reference %}
{% trans "Value successfully updated" as message_success %}
{% trans "No change" as message_nochange %}
{% trans "Task triggered" as message_triggered %}
{% trans "No result yet" as placeholder_noresult %}
{% trans "Manual item" as placeholder_manual %}

<legend>{{ legend_overview }} {{ wizard.reference }}</legend>
<div class="container" id="apl-overview" style="width: 70%;">
	<div class="row row-centered">
		{% for step in wizard.steps %}
		<div class="well bs-component" id="overview-step-{{ forloop.counter }}">
			<fieldset>
				<legend title="{{ step.help }}">{{ step.title }}</legend>
				{% for item in step.items %}
				<label class="col-lg-3 control-label" title="{{ item.help }}">{{ item.label }}</label>
				<div class="panel panel-default col-lg-9">
					<div class="panel-body" id="{{ item.id }}-value">
						{{ item.form.instance.value|default_if_none:""|safe }}
					</div>
				</div>
				{% endfor %}
			</fieldset>
		</div>
		{% endfor %}
	</div>
</div>

{% if edit_mode %}
<form method="post" role="form1" id="signin-form" class="validate">
{% csrf_token %}
	<div id="wizard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wizard-modal-label" aria-hidden="true">
		<div class="modal-dialog wizard">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="wizard-modal-label">{{ wizard.reference }}</h3>
				</div>
				<div class="modal-body" id="wizard-modal-body">
					<div class="navbar">
						<div class="navbar-inner">
							<ul class="nav nav-pills">
								{% for step in wizard.steps %}
								<li{% if forloop.first %} class="active"{% endif %}>
									<a class="btn btn-default" id="a-step{{ forloop.counter }}" href="#step{{ forloop.counter }}"
											data-toggle="tab" data-step="{{ forloop.counter }}">
										{{ forloop.counter }}. {{ step.title }}
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="tab-content">
						{% for step in wizard.steps %}
						<div class="tab-pane fade{% if forloop.first %} in active{% endif %}" id="step{{ forloop.counter }}">
							{% for item in step.items %}
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="container">
										<div class="row">
											<div class="col-md-5">
												<label class="control-label col-sm-12" id="di{{ item.id }}-label" style="z-index: 10;">{{ item.label }}</label>
											</div>
											<div class="col-md-1">
												<div class="btn-group" style="float: right">
													<a class="btn btn-default" id="di{{ item.id }}-save"><i class="fa fa-save" aria-hidden="true"></i></a>
												</div>
											</div>
											<div class="col-md-5">
												<div class="bs-component" id="di{{ item.id }}-paginator"></div>
											</div>
											<div class="col-md-1">
												<div class="btn-group" style="float: right">
													{% if item.is_auto %}
													<a class="btn btn-default" id="di{{ item.id }}-update"><i class="fa fa-refresh"></i></a>
													<a class="btn btn-default" id="di{{ item.id }}-fullscreen"><i class="note-icon-arrows-alt"></i></a>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="row-height">
												<div class="col-md-6 col-xs-height">
													<div class="inside-full-height">
														<form method="post" action="javascript:;">
														{% csrf_token %}
															<div class="form-group form-group-item no-margin-bottom" id="di{{ item.id }}-group">
																{{ item.form.value|safe }}
															</div>
														</form>
													</div>
												</div>
												<div class="col-md-6 col-xs-height col-xs-top">
													<div class="panel panel-default inside-full-height">
														<div class="panel-body inside-full-height">
															<div class="container container-result">
																<div class="row-fluid row-result">
																	{% include 'wizard/wizard/data-form-result.html' %}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endif %}