
{% extends "base.html" %}
{% load static %}
{% block datesforms %} {{create_event_form.media }}{{periodicity_form.media}} {% endblock %}
{% block title %}My Care4Care Agenda{% endblock %}
{% block toolbar %}{% endblock %}
{% block titlebar %}My Care4Care Agenda{% endblock %}
{% block content %}
    <div class="panel-mauve">
        <div class="panel-heading">
            <h3 class="panel-title"> Summary of events</h3>
        </div>

        {% if events != None %}
            <div class="panel-body">
                <div class="agenda">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            	
                                <!-- Single event in a single day -->
                                {% for event in events %}
                                
                                
                                    <tr>
                                    	
                                        <td class="agenda-date" class="active" rowspan="1">
                                            <!-- Conversion du jour en lettre-->
                                            <div class="dayofmonth"> {{event.periodicity.start_date |date:"d" }}</div>                                            
                                            <div class="dayofweek"> {{event.periodicity.start_date |date:"l" }} </div>                                           
                                             <!-- Conversion du mois en lettre plus , année-->                                
                                             <div class="shortdate text-muted">{{event.periodicity.start_date |date:"F, Y" }}</div>
                                            
                                        </td>
                                         <td class="agenda-time">
                           					{{event.periodicity.start_time |time:'H:i' }}-{{event.periodicity.end_time |time:'H:i'}}
                        				</td>
                                        <td class="agenda-events">
                                            <div class="agenda-event">
                                                {{event.title |truncatechars:20}}
                                            </div>
                                        </td>
                                        <td class="agenda-events">
                                            <div class="agenda-event">
                                               <a href="{% url 'view_agenda' event_id=event.id %}" > {{ event.description| striptags| truncatechars:100 }} </a>
                                            </div>
                                        </td>
                                    </tr>
                                 
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <h4>
                No event for the moment ! 
            </h4>
        {% endif %}
    </div>
 <div class="row"> 
 	<div class="col-lg-6 ">
     <div class="panel-orange">
        <div class="panel-heading">
            <h3 class="panel-title"> Add an event</h3>
        </div>           	
        <div class="panel-body">
        	
        	<form  id="create_event_form"  role="form" method="post" action="/agenda/"  enctype="multipart/form-data">
            
			<table  border="0" cellpadding="10" cellspacing="20">		
                {% csrf_token %}
                <tr>
                	
                <td>{{ create_event_form.title.label_tag }}{{ create_event_form.titel.errors }}</td> 
            	<td colspan="3"> {{ create_event_form.title }}</td>
            	</tr>
            	<tr>
            	<td>&nbsp;</td>
            	<td colspan="3"> &nbsp;</td>
            	</tr>
            	<tr>
            	<td  valign="top">{{ create_event_form.description.label_tag }}{{ create_event_form.description.errors }}</td> 
            	<td  colspan="3">{{ create_event_form.description }}</td>
            	</tr>
                  <tr>
            	<td>&nbsp;</td>
            	<td colspan="3"> &nbsp;</td>
            	</tr>
                 <tr>
                	<td align="left">{{ periodicity_form.start_datetime.label_tag }}{{ periodicity_form.start_datetime.errors }}&nbsp;</td> 
            		<td align="left">{{ periodicity_form.start_datetime }}</td>
          
            		<td align="right">&nbsp;&nbsp;&nbsp;&nbsp;{{ periodicity_form.end_datetime.label_tag }}{{ periodicity_form.end_datetime.errors }}</td> 
            		<td align="right">{{ periodicity_form.end_datetime }}</td>
            	</tr>	
            	 <tr>
            	<td>&nbsp;</td>
            	<td colspan="3"> &nbsp;</td>
            	</tr>
   	 			<tr>
   	 				<td colspan="4" align="center">
   	 				<button class="btn btn-info" type="submit" name="submit" value="simple">Save</button>
   	 				</td>
   	 			</tr>
               
                </table>             		
              
                  </form>                  
                  
         </div>                                       
     </div>
  </div>
  
  <div class="col-lg-6 ">
     <div class="panel-mauve">
        <div class="panel-heading">
            <h3 class="panel-title"> Select Event &nbsp; : &nbsp;{{event.title}}</h3>
        </div>           	
        <div class="panel-body">
        	 <div class="agenda">
	        	 	 <div class="table-responsive">
	                        <table class="table table-condensed table-bordered">
	                        	<tr>
					          	<td class="agenda-time"> 
					          		FROM :
                           		
                           		</td>
                        		<td class="agenda-time"> 
                        			TO :
                           		
                        		</td>
					          	
					          </tr>
	                        	
	                        <tr>
				        	  <td class="agenda-date" class="active" rowspan="1" >
					        	<div class="dayofmonth"> {{event.periodicity.start_date |date:"d" }}</div>                                            
					            <div class="dayofweek"> {{event.periodicity.start_date |date:"l" }} </div>                            
					                                                                        
					            <div class="shortdate text-muted">{{event.periodicity.start_date |date:"F, Y" }}</div>
					          </td>
					          
					          <td class="agenda-date" class="active" rowspan="1" >
					        	<div class="dayofmonth"> {{event.periodicity.end_date |date:"d" }}</div>                                            
					            <div class="dayofweek"> {{event.periodicity.end_date |date:"l" }} </div>                            
					                                                                        
					            <div class="shortdate text-muted">{{event.periodicity.end_date |date:"F, Y" }}</div>
					          </td>
					          <tr>
					          	<td class="agenda-time"> 
                           		{{event.periodicity.start_time |time:'H:i' }}
                           		</td>
                        		<td class="agenda-time"> 
                           		{{event.periodicity.end_time |time:'H:i'}}
                        		</td>
					          	
					          </tr>
					          
					       </tr>
					     </table>
	        		</div>
        		</div>
        		{{ event.description| striptags }}
       		</div>
        	
        	keepa
        	
        	
        	
        </div>
        	
     </div>
    </div>  

    
    
    
    

    <!--<script type="text/javascript">
            //used by datepicker
           $(function(){
                $('.datepicker').datepicker({
                format: 'dd-mm-yyyy'
                });
            });

           // used to restrict the input (number only)       
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode == 46 || charCode == 8)
                    return true;
                if (charCode > 31 && (charCode < 48 || charCode > 57))
                    return false;
                return true;
            }
    </script> -->

{% endblock %}