{% extends "base.html" %}
{% load static %}
{% block datesforms %}{% load bootstrap_tags %} {% endblock %}
{% block title %}Give credits{% endblock %}
{% block titlebar %}Care4Care Credits{% endblock %}
{% block content %}
{% load bootstrap_tags %}

  {% if user.is_staff %}
  <p> Admin mode : Possible to distribute any amount to any user </p>
  {% endif %}

		<div class="diminue">
        <form id="give_form" method="post" action="{% url 'use_credits' %}"
                enctype="multipart/form-data">            
            {% csrf_token %}
            <div class="msgbox">
            {{ give_form|as_bootstrap }}
            </div>
             <button type="submit" class="btn btn-primary">Give credits</button>
        </form>
        </div>

        <table class="table table-striped">

      <caption>List of the gift operations</caption>
      <thead>

        <tr>
          <th>#</th>
          <th>User from</th>
          <th>User to</th>
          <th>Gift received(mins)</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>ex</td>
          <td>Dodo de Namur</td>
          <td>Association</td>
          <td>45</td>
          <td></td>
        </tr>
        <tr>
          <td>ex</td>
          <td>Dodo de Namur</td>
          <td>Jean-Francois</td>
          <td>65</td>
        </tr>
        <tr>
          <td>ex</td>
          <td>Tonton Juju</td>
          <td>Dodo de Namur</td>
          <td>12</td>
        </tr>

         {% for record in listao %}
          <tr>
          <td>{{record.id}}</td>
          <td>{{record.user_from}}</td>
          <td>{{record.user_to}}</td>
          <td>{{record.amount}}</td>
          </tr>
         {% endfor %}
		</table>


    
    



<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="radio"]').click(function(){
            if($(this).attr("value")=="gu"){                
                $("#id_username").val("");
                $("#id_username").removeAttr("type");
                $("#div_id_username label").show();
            }
            if($(this).attr("value")=="ga"){
                
                $("#id_username").val("association");
                $("#id_username").attr("type","hidden");
                $("#div_id_username label").hide();
            }
        });
    });
</script>

{% endblock %}


