{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block toolbar %}{% endblock %}
{% block menu %}{% endblock %}   
{% block titlebar %}Index{% endblock %}
{% block content %}

	<div class="row">

   	 <div class="col-lg-offset-3 col-lg-5 text-center">
   	 	<div class="panel-rose">
			<div class="panel-body">{{ presentation_text.text|safe }}</div>
		</div>
      </div>
  	</div>
  	<!-- /.row -->
  	<div class="row">
  	<!-- offer-->

  	<div class='col-lg-5 text-center'>
    	<div class="panel-orange">
     		<div class="panel-heading"><h3 class="panel-title">Last Offer</h3></div>
    		<div class="panel-body">
	      		<div class="carousel slide"  data-ride="carousel" id="quote-carousel-1">
	        	<!-- Bottom Carousel Indicators -->
	        		<ol class="carousel-indicators">
		          		<li data-target="#quote-carousel-1" data-slide-to="0" class="active"></li>
		          		<li data-target="#quote-carousel-1" data-slide-to="1"></li>
		          		<li data-target="#quote-carousel-1" data-slide-to="2"></li>
	        		</ol>
		       		 <!-- Carousel Slides / Quotes -->
		       		 <div class="carousel-inner">
		       		 	{% for offer in offerlast %}
		       		 	  {% if forloop.first %}
			          		<!-- Quote 1 -->
			          		<div class="item active">
		          			{% else %}
		          			<div class="item">
		          			{% endif %}
			            		<blockquote>
						              <div class="row">
						                <div class="col-sm-3 text-center">
						                {% if offer.user.picture %}
						                  <img class="img-circle" src='{{ offer.user.picture.url }}' style="width: 100px;height:100px;">
						                 {% else %}
						                 <img class="img-circle" src='{{ STATIC_URL }}img/profile_pic_default.gif' style="width: 100px;height:100px;">
						                {% endif %}	
						                </div>
						                <div class="col-sm-9">
						                  <p>{{ offer.description }}</p>
						                  <small>{{ offer.user.id.username }}</small>
						                </div>
						              </div>
			            		</blockquote>

		          			</div>

			           	{% endfor %}
			         	 </div>

			        <!-- Carousel Buttons Next/Prev -->
			        <a data-slide="prev" href="#quote-carousel-1" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
			        <a data-slide="next" href="#quote-carousel-1" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      			</div>
    		</div>
  		</div>
  	</div>
 	<!-- demande-->
     <div class="col-lg-offset-1 col-lg-5 text-center">
    	<div class="panel-blue">
    		<div class="panel-heading">
    			<h3 class="panel-title">Last Demand</h3>
    		</div>
    		<div class="panel-body">
    			<div class="carousel slide" data-ride="carousel" id="quote-carousel-2">
			        <!-- Bottom Carousel Indicators -->
			        <ol class="carousel-indicators">
			          	<li data-target="#quote-carousel-2" data-slide-to="0" class="active"></li>
			          	<li data-target="#quote-carousel-2" data-slide-to="1"></li>
			          	<li data-target="#quote-carousel-2" data-slide-to="2"></li>
			        </ol>
		        		<!-- Carousel Slides / Quotes -->
			         <div class="carousel-inner">

		       		 	{% for demand in demandlast %}
		       		 	  {% if forloop.first %}
		          		<!-- Quote 1 -->
		          		<div class="item active">
		          		{% else %}
		          		<div class="item">
		          		{% endif %}
		            		<blockquote>
					              <div class="row">
					                <div class="col-sm-3 text-center">
					                  {% if demand.user.picture %}
						                  <img class="img-circle" src='{{ demand.user.picture.url }}' style="width: 100px;height:100px;">
						                 {% else %}
						                 <img class="img-circle" src='{{ STATIC_URL }}img/profile_pic_default.gif' style="width: 100px;height:100px;">
						                {% endif %}	
					                </div>
					                <div class="col-sm-9">
					                  <p>{{ demand.description }}</p>
					                  <small>{{ demand.user.id.username }}</small>
					                </div>
					              </div>
		            		</blockquote>

		          		</div>

			           {% endfor %}
			          </div>

			        <!-- Carousel Buttons Next/Prev -->
			        <a data-slide="prev" href="#quote-carousel-2" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
			        <a data-slide="next" href="#quote-carousel-2" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
	      		</div>
    		 </div>
    	</div>
 	</div>
</div>

 <!-- /.row -->
 <script type="text/javascript">
 
$(function() {
	$('#quote-carousel-1, #quote-carousel-2').carousel({interval: 10000});
    
});​
</script>
	
{% endblock %}
