{% extends "base.html" %}
{% load static %}
{% block toolbar %}{% include "obj/bar_top_user.html" %}{% endblock %}
{% block titlebar %}Jobs{% endblock %}
{% block title %}My Care4Care Jobs{% endblock %}
{% block content %}
    <div class="form-inline" role="form">
    <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
      <div class="form-group" class="col-md-7">
    <div class="input-group">
      <label class="sr-only" for="exampleInputEmail2">Search</label>
      
      <input type="search" class="form-control" id="exampleInputEmail2" placeholder="Search jobs">
    </div>
    </div>
      <div class="form-group" class="col-md-3">

      
            <select  class="form-control">
            <option>No filter</option>
            <option>By User</option>
            <option>By Type</option>
            <option>By Date</option>
            <option>By Status</option>
            </select>
    </div>

      <div class="form-group" class="col-md-4">

      
            <select  class="form-control">
            <option>Jobs open</option>
            <option>Jobs pending</option>
            <option>Current offer(s)</option>
            <option>Current Demand(s)</option>
            <option>Finished jobs</option>
            </select>
    </div>
        <button type="submit" class="btn">Search</button>
    </div>
<br/>
<br/>


        <form method="post" action="{% url 'pending_job' %}">
        {% csrf_token %}


    <div class="panel panel-rose">
	  <!-- Default panel contents -->

    <div class="panel-heading">Jobs open</div>
	  <!-- JOBS TABLE  -->
        <div style="height:180px; 1overflow:auto;">
          <table class="table">
         <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Help type</th>
                <th>Service giver</th>
                <th>Service receiver </th>
                <th>View details</th>
                <th>Accept job</th>
            </tr>
          </thead>
          <tbody>
              {% for j in jobs_open_given %}
                <tr>
                 {% if  j.status = 0 %}
                    <td> Opened</td>
                    {% endif %}
                    {% if  j.status = 1 %}
                    <td> Pending</td>
                    {% endif %}
                    {% if  j.status = 2 %}
                    <td> Done</td>
                    {% endif %}
                    {% if  j.status = 3 %}
                    <td> Cancelled</td>
                    {% endif %}
                    {% if  j.status = 4 %}
                    <td> Closed</td>
                    {% endif %}
                  <td> {{ j.start_datetime |date:"d/m/Y"}} </td>
                  <td> {{ j.offer.help_type.label }} </td>
                  <td> <li><a href="#">{{ j.offer.user.id.username }}</a></li> </td>
                  <td> <li><a href="#">{{ j.demand.user.id.username }}</a></li> </td>
                    {% if user.pk == j.offer.user.pk %}
                        {% if not j.offerer_approved %}
                            <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=user.pk %}">More details</a></li> </td>
                        {% else %}
                            <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=j.demand.user.pk %}">More details</a></li> </td>
                        {% endif %}
                    {% else %}
                        {% if not j.demander_approved %}
                            <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=user.pk %}">More details</a></li> </td>
                        {% else %}
                            <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=j.demand.user.pk %}">More details</a></li> </td>
                        {% endif %}
                    {% endif %}
                    {% if user.pk == j.offer.user.pk %}
                        {% if not j.offerer_approved %}
                            <td><li><input type="checkbox" name="choices" value="{{ j.pk }}"></li></td>
                        {% endif %}
                    {% else %}
                        {% if not j.demander_approved %}
                            <td><li><input type="checkbox" name="choices" value="{{ j.pk }}"></li></td>
                        {% endif %}
                    {% endif %}
                </tr>
              {% endfor %}
                 {% for j in jobs_open_recv %}
                <tr>
                 {% if  j.status = 0 %}
                    <td> Opened</td>
                    {% endif %}
                    {% if  j.status = 1 %}
                    <td> Pending</td>
                    {% endif %}
                    {% if  j.status = 2 %}
                    <td> Done</td>
                    {% endif %}
                    {% if  j.status = 3 %}
                    <td> Cancelled</td>
                    {% endif %}
                    {% if  j.status = 4 %}
                    <td> Closed</td>
                    {% endif %}
                  <td> {{ j.start_datetime |date:"d/m/Y"}} </td>
                  <td> {{ j.offer.help_type.label }} </td>
                  <td> <li><a href="#">{{ j.offer.user.id.username }}</a></li> </td>
                  <td> <li><a href="#">{{ j.demand.user.id.username }}</a></li> </td>
                    {% if user.pk == j.offer.user.pk %}
                        {% if not j.offerer_approved %}
                            <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=user.pk %}">More details</a></li> </td>
                           {% else %}
                            <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=j.demand.user.pk %}">More details</a></li> </td>
                        {% endif %}
                    {% else %}
                        {% if not j.demander_approved %}
                            <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=user.pk %}">More details</a></li> </td>
                        {% else %}
                            <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=j.demand.user.pk %}">More details</a></li> </td>
                        {% endif %}
                    {% endif %}
                    {% if user.pk == j.offer.user.pk %}
                        {% if not j.offerer_approved %}
                            <td><li><input type="checkbox" name="choices" value="{{ j.pk }}"></li></td>
                        {% endif %}
                    {% else %}
                        {% if not j.demander_approved %}
                            <td><li><input type="checkbox" name="choices" value="{{ j.pk }}"></li></td>
                        {% endif %}
                    {% endif %}
                </tr>
              {% endfor %}
          </tbody>
          </table>
        </div>

	</div>
     <button type="submit" name="accept_job" >Accept job</button>
        </form>


        <br />
        <br />
     <div class="panel panel-rose">

	  <div class="panel-heading">Jobs pending</div>
	  <!-- JOBS TABLE  -->
        <div style="overflow:auto;">
	  <table class="table">
     <thead>
        <tr>
            <th>Status</th>
            <th>Date</th>
            <th>Help type</th>
            <th>Service giver</th>
            <th>Service receiver </th>
            <th>View details</th>
        </tr>
      </thead>
      <tbody>
          {% for j in jobs_given %}
            <tr>
             {% if  j.status = 0 %}
              	<td> Opened</td>
              	{% endif %}
              	{% if  j.status = 1 %}
              	<td> Pending</td>
              	{% endif %}
              	{% if  j.status = 2 %}
              	<td> Done</td>
              	{% endif %}
              	{% if  j.status = 3 %}
              	<td> Cancelled</td>
              	{% endif %}
              	{% if  j.status = 4 %}
              	<td> Closed</td>
              	{% endif %}
              
              <td> {{ j.start_datetime |date:"d/m/Y"}} </td>
              <td> {{ j.offer.help_type.label }} </td>
              <td> <li><a href="#">{{ j.offer.user.id.username }}</a></li> </td>
              <td> <li><a href="#">{{ j.demand.user.id.username }}</a></li> </td>
              <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=user.pk %}">More details</a></li> </td>
            </tr>
          {% endfor %}
          {% for j in jobs_received %}
            <tr>
              {% if  j.status = 0 %}
              	<td> Opened</td>
              	{% endif %}
              	{% if  j.status = 1 %}
              	<td> Pending</td>
              	{% endif %}
              	{% if  j.status = 2 %}
              	<td> Done</td>
              	{% endif %}
              	{% if  j.status = 3 %}
              	<td> Cancelled</td>
              	{% endif %}
              	{% if  j.status = 4 %}
              	<td> Closed</td>
              	{% endif %}
             
              <td> {{ j.start_datetime  |date:"d/m/Y"}} </td>
              <td> {{ j.demand.help_type.label }} </td>
              <td> <li><a href="#">{{ j.offer.user.id.username }}</a></li> </td>
              <td> <li><a href="#">{{ j.demand.user.id.username }}</a></li> </td>
              <td><li><a href="{% url 'view_job_detail' pk_job=j.pk pk_accept=user.pk%}">More details</a></li> </td>
            </tr>
          {% endfor %}
          
          
      </tbody>
	  </table>
        </div>
	</div>

	<div class="panel panel-orange">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Current offer(s)</div>
	  <!-- OFFERS TABLE -->
      <div style="overflow:auto;">
              <table class="table">
	    <thead>
          <tr>
              <th>Status</th>
              <th>Date</th>
              <th>Help type</th>
              <th>Description</th>
              <th>View details</th>
          </tr>
        </thead>
        <tbody>
            {% for o in offers %}
              <tr>
              	{% if  o.status = 0 %}
              	<td> Opened</td>
              	{% endif %}
              	{% if  o.status = 1 %}
              	<td> Pending</td>
              	{% endif %}
              	{% if  o.status = 2 %}
              	<td> Done</td>
              	{% endif %}
              	{% if  o.status = 3 %}
              	<td> Cancelled</td>
              	{% endif %}
              	{% if  o.status = 4 %}
              	<td> Closed</td>
              	{% endif %}
               
                <td> {{ o.periodicity.start_date  |date:"d/m/Y"}} </td>                
                <td> {{ o.help_type.label }} </td>
                <td> {{ o.description }}</td>
                <td><li><a href="{% url 'detail_offer' pk_offer=o.pk %}">More details</a></li> </td>
              </tr>
            {% endfor %}
        </tbody>
	  </table>
      </div>

	</div>
    <div class="panel panel-blue">
      <!-- Default panel contents -->
      <div class="panel-heading">Current Demand(s)</div>
      <!-- DEMANDS TABLES -->
      <div style="overflow:auto;">

      <table class="table">
        <thead>
          <tr>
              <th>Status</th>
              <th>Date</th>
              <th>Help type</th>
              <th>Description</th>
              <th>View details</th>

          </tr>
        </thead>

        <tbody>
            {% for d in demands %}
              <tr>
             
              	{% if  d.status = 0 %}
              	<td> Opened</td>
              	{% endif %}
              	{% if  d.status = 1 %}
              	<td> Pending</td>
              	{% endif %}
              	{% if  d.status = 2 %}
              	<td> Done</td>
              	{% endif %}
              	{% if  d.status = 3 %}
              	<td> Cancelled</td>
              	{% endif %}
              	{% if  d.status = 4 %}
              	<td> Closed</td>
              	{% endif %}
               
                <td> {{ d.periodicity.start_date  |date:"d/m/Y"}} </td>
                <td> {{ d.help_type.label }} </td>
                <td> {{ d.description | truncatechars:80}}</td>
                <td><li><a href="{% url 'detail_demand' pk_demand=d.pk %}">More details</a></li> </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>

        </div>
  </div>

	<div class="panel panel-green">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Finished jobs</div>

	  <!-- FINISHED JOBS TABLE -->
	  <table class="table">
	    ...
	  </table>
	</div>
{% endblock %}