{% extends "base.html" %}
{% load static %}

{% block title %}Personal network{% endblock %}

{% block toolbar %}{% endblock %}

{% block titlebar %}Personal network{% endblock %}
{% block content %}

    <div class="panel-mauve">

        <div class="panel-heading">
            <h3 class="panel-title"> List of members</h3>
        </div>

        <div class="panel-body">
            {% if list_pn == None %}
                <h4>
                    No user in your current personal network.
                </h4>
            {% else %}
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Emmergency contact</th>
                                <th>Phone</th>
                                <th>Comment</th>
                                <th>Agenda</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Single event in a single day -->
                            {% for pn in list_pn %}
                                <tr>
                                    <td>{{ pn.member.id.username }}</td>
                                    <td>{% if pn.emergency_contact == True %}<i class="fa fa-check fa-fw"></i>{% endif %}</td>
                                    <td>{{ pn.member.phone1 }}</td>
                                    <td>{{ pn.comment }}</td>
                                    <td><i class="fa fa-calendar fa-fw"></i> </td>
                                    <td><a href="{% url 'delete_pn' pk=pn.id %}"><i class="fa fa-times fa-fw"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>

        <div class="panel-heading">
            <h3 class="panel-title"> Add a user in your personal network</h3>
        </div>

        <div class="panel-body">
            <!-- Formulaire pour ajouter un utilisateur dans le réseau personal -->
            <form class="form-horizontal" role="form" method="post" action="/personal_network/" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- liste déroulante contenant tous les utilisateurs -->
                {% if list_final != None %}
                    <div> 
                        <label>Users : </label>
                        <select name="slct_user">
                            <option></option>
                            {% for user in list_final %}
                                <option>{{user.username}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {{pn_form.as_p}}

                    <div>
                        <input type="submit" value="Add" class="btn btn-default">
                    </div>
                {% else %}
                    <h4>
                        All user already inside your personal network.
                    </h4>
                {% endif %}
            </form>
        </div>

        
    </div>

{% endblock %}