{% extends "base.html" %}
{% load static %}

{% block title %}My Care4Care Profile{% endblock %}
{% block titlebar %}My profile data{% endblock %}
{% block content %}
{% load bootstrap_tags %}

{% if user.profile.unsubscription_datetime %}
    <h2>Your account is currently marked as unsubscribed.</h2>
    <h3>Please contact your branch officer to enable it.</h3>
{% else %}
    <label for="profile-progress-bar">Your profile is filled to {% if not percentage %}0{% else %}{{ percentage }}{% endif %}%</label>
    <div id="profile-progress-bar" class="progress progress-striped" style="margin-bottom: 9px;">
        <div class="progress-bar" style="background-color: {% if not percentage or percentage < 30 %}red
                                  {% elif percentage < 70 %}orange{% else %}green{% endif %}; height: 20px; width: {% if not percentage %}0{% else %}{{ percentage }}{% endif %}%;"></div></div>
    <div><h4>You are part of the Care4Care {{ user_group }}s</h4></div>
    {% if edit_form %} <!-- Edit mode -->
    <div class="panel-body">
    
        <form  id ="edit_form" class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
           {%  if mode == "personal" %}
            {{ name_form | as_bootstrap }}
            {% endif %}
            {{ edit_form|as_bootstrap }}
            <input type="submit" name="submit" value="Update"/>
        </form>
    </div>
    {% else %} <!-- Display mode -->
    <table width="100%">
    <tr valign="top"><td width="3%"></td><td width="45%">
    <div class="panel panel-mauve" id="profile_contact">
        <div class="panel-heading"><font style="font-size:x-large;">Personal information</font><object align="right">
            <button type="button" value="contact" class="btn btn-info ra" onclick="window.location.href='{% url 'edit_own_profile' %}?edit=personal'">Edit</button></object></div>
        <table class="data">
            <tr>
                <th>Branch</th>
                <td><a href="{% url 'view_own_profile' %}">{{ branch_label }}</a></td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{% if first_last_name and first_last_name.strip %} {{ first_last_name }}
                    {% else %} <font color="red">Not filled in</font>{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th height="80">Address</th>
                <td>{% if address and address.strip %} {{ address|safe }}
                    {% else %} <font color="red">Not filled in</font>{% endif %}</td>
            </tr>
            <tr>
                <th>Phone numbers</th>
                <td>{% if phones %} {{ phones }}
                    {% else %} <font color="red">Not filled in</font>{% endif %}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if user.profile.birth_date %} {{ user.profile.birth_date }}
                    {% else %} <font color="red">Not filled in</font>{% endif %}</td>
            </tr>
            <tr>
                <th height="120">Presentation Text</th>
                <td>{% if user.profile.comments and user.profile.comments.strip %}{{ user.profile.comments }}
                    {% else %} <font color="red">Not filled in</font>{% endif %}</td>
            </tr>
            <tr>
                <th height="120">Hobbies</th>
                <td>{% if user.profile.hobbies and user.profile.hobbies.strip %}{{ user.profile.hobbies }}
                    {% else %} <font color="red">Not filled in</font>{% endif %}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{% if user.profile.facebook_link and user.profile.facebook_link.strip %}{{ user.profile.facebook_link }}
                    {% else %} <font color="red">Not filled in</font>{% endif %}</td>
            </tr>
        <br/>
        </table>
    </div></td>
    <td width="4%"></td>
    <td width="45%"><div class="panel panel-mauve" id="profile_additional">
        <div class="panel-heading"><font style="font-size:x-large;">Additional information</font><object align="right">
            <button type="button" value="contact" class="btn btn-info" onclick="window.location.href='{% url 'edit_own_profile' %}?edit=additional'">Edit</button></object></div>
        <table class="data" style="position: relative; top: 10px;">
            <tr>
                <th>You are allowed to create demands and offers</th>
                <td>{% if user.profile.job_authorized %}<img class="true-false" src="{% static 'img/true.png' %}"/>
                    {% else %}<img class="true-false" src="{% static 'img/false.png' %}"/>{% endif %}</td>
            </tr>
            <tr>
                <th>{% if user.profile.has_car_wheelchair_compliant %}You have a car available (wheelchair compliant)
                    {% else %}You have a car available{% endif %}</th>
                <td>{% if user.profile.has_car or user.profile.has_car_wheelchair_compliant %}<img class="true-false" src="{% static 'img/true.png' %}"/>
                    {% else %}<img class="true-false" src="{% static 'img/false.png' %}"/>{% endif %}</td>
            </tr>
            <tr>
                <th>Driving licenses</th>
                <td>{% if driving_licenses and driving_licenses.strip %}{{ driving_licenses }}{% else %}None{% endif %}</td>
            </tr>
            <tr>
                <th>Languages</th>
                <td>{% if languages and languages.strip %}{{ languages }}
                    {% else %} <font color="red">Not filled in</font>{% endif %}</td>
            </tr>
            <tr><th></th><td></td></tr>
        </table>
    </div></td>
    <td width="3%">
    </tr></table>
    {% if inactivities %}
    <div class="panel panel-red" id="profile_inactivities">
        <div class="panel-heading"><h4>Last inactivity periods</h4></div>
        <table>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Reason</th>
            </tr>
            {% for i in inactivities %}
            <tr>
                <td>{{ i.start }}</td>
                <td>{{ i.end }}</td>
                <td>{{ i.reason }}</td>
            </tr>
            {% endfor %}
        <br/>
        </table>
    </div>
    {% endif %}
    {% endif %}
{% endif %}
    <br />

</h1>
{% endblock %}