{% load staticfiles i18n %}

{% trans "You have been successfully registered" as msg_success %}
{% trans "We have emailed you the confirmation link for your account" as msg_mail %}
{% trans "Credentials" as header_credentials %}
{% trans "Personal data (Optional)" as header_persdata %}

<form id="signup-form" role="form" method="post" action="#">
{% csrf_token %}
    <div class="modal fade" role="dialog" id="signup-modal">
        <div class="modal-dialog">
            <div class="modal-content" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="js-title-step"></h4>
                </div>
                <div class="modal-body" style="width: 95%;">
                    <div class="row hide" data-step="1" data-title="{{ header_credentials }}">
                        <div class="form-group">
                            <div class="input-group{% if form.email.errors %} {{ 'validate-has-error' }}{% endif %}">
                                <div class="input-group-addon"><i class="entypo-mail"></i></div>
                                <input autocomplete="off" class="form-control" data-mask="email" id="email" maxlength="254" name="email" placeholder="E-mail *" type="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group{% if form.new_password1.errors %} {{ 'validate-has-error' }}{% endif %}">
                                <div class="input-group-addon"><i class="entypo-lock"></i></div>
                                <input autocomplete="off" class="form-control" id="new_password1" name="new_password1" placeholder="New password *" type="password" required>
                                <input autocomplete="off" class="form-control" id="new_password2" name="new_password2" placeholder="Password confirmation *" type="password" required>
                            </div>
                        </div>
                        <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                    </div>
                    <div class="row hide" data-step="2" data-title="{{ header_persdata }}">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="entypo-user"></i></div>
                                {{ form.first_name }}
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="entypo-phone"></i></div>
                                {{ form.phone1 }}
                                {{ form.phone2 }}
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="entypo-calendar"></i>
                                </div>

                                <input type="text" class="form-control" name="birthdate" id="birthdate"
                                       placeholder="Date of Birth (DD/MM/YYYY)" data-mask="date" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="entypo-user-add"></i>
                                </div>

                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="Username" data-mask="[a-zA-Z0-1\.]+" data-is-regex="true"
                                       autocomplete="off"/>
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="entypo-star"></i></div>
                                {{ form.title }}
                                {{ form.rank }}
                            </div>
                        </div>
                       <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="entypo-users"></i></div>
                                {{ form.service }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p>(*) Mandatory</p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default js-btn-step" data-orientation="previous"></button>
                        <button type="button" class="btn btn-default js-btn-step" data-orientation="next"></button>
                    </div>
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p align="center">{{ error }}</p>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>