<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>

{% load staticfiles bootstrap_themes bootstrap3 common_tags cache i18n  %}

{% trans "User Agreement" as link_useragreement %}
{% trans "Privacy Policy" as link_privpolicy %}
{% trans "Cookie Policy" as link_cookiepolicy %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="SCAPL frontend"/>
    <meta name="author" content=""/>
    {# Fonts #}
    <link rel="stylesheet" href="{% static 'base/css/font-icons/entypo/css/entypo.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/font-icons/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/font-noto-sans.css' %}">
    {# jQuery #}
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
    <script src="{% static 'base/js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'gsap/jquery.gsap.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'toastmessages/js/jquery.toastmessage.modified.js' %}"></script>
    {# Bootstrap (managed by app 'bootstrap_themes' #}
    {% if request.user.theme %}
    {% bootstrap_styles request.user.theme type='min.css' %}
    {% else %}
    {% bootstrap_styles theme type='min.css' %}
    {% endif %}
    {% bootstrap_script use_min=True %}
    {# Addons #}
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-panel-addon.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/page-layout.css' %}">
    <link rel="stylesheet" href="{% static 'toastmessages/css/jquery.toastmessage.modified.css' %}">
    <!--[if lt IE 9]>
    <script src="{% static 'base/js/ie8-responsive-file-warning.js' %}"></script>
    {# HTML5 shiv and Respond.js for IE8 support of HTML5 elements and media queries #}
    <script src="{% static 'base/js/html5shiv.js' %}"></script>
    {# WARNING: Respond.js doesn't work if you view the page via file:// #}
    <script src="{% static 'base/js/respond.min.js' %}"></script>
    <![endif]-->
    <title>{% block title %}{{ PROJECT_NAME }}{% endblock %}</title>
</head>
{% include "tooltips/tooltips.html" %}
<body class="page-fade" role="document">
    {% if messages %}{% toast_all messages %}{% endif %}
    {% if request.user.is_authenticated %}{% include "navbar.html" %}{% endif %}
    <div class="container" role="main">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 text-left"><h6>&copy; 2016 <strong>{{ PROJECT_NAME }}</strong> by {{ PROJECT_AUTHORS }}</h6></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 text-center"><a href="#">{{ link_useragreement }}</a></div>
                <div class="col-sm-2 text-center"><a href="#">{{ link_privpolicy }}</a></div>
                <div class="col-sm-2 text-center"><a href="#">{{ link_cookiepolicy }}</a></div>
            </div>
        </div>
    </footer>
</body>
</html>