<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
{% load staticfiles bootstrap_themes cache i18n  %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="SCAPL frontend"/>
    <meta name="author" content=""/>
    {% include "obj/scripts.html" %}
    <title>{% block title %}{% trans 'SCAPL Frontend' %}{% endblock %}</title>
</head>
<body class="page-body page-fade">
<div class="page-container">
    <!-- sidebar -->
    {% block sidebar %}
    {% include "obj/sidebar.html" %}
    {% endblock %}

    <div class="main-content">

        <!-- Toolbar -->
        {% block toolbar %}
        {% include "obj/toolbar.html" %}
        {% endblock %}

        <!-- Content -->
        {% block content %}
        {% include "obj/content.html" %}
        {% endblock %}

        <!-- Footer -->
        {% block footer %}
        {% include "obj/footer.html" %}
        {% endblock %}

    </div>
</div>
</body>
</html>