{% extends "base.html" %}

{% block title %}Edit content{% endblock %}

{% block menu %}{% endblock %}   
{% block user_summary %}{% endblock %}
{% block titlebar %}Edit content{% endblock %}
{% block content %}
{% if user.is_staff %}
        <script type="text/javascript">
            function parse(val) {
                var result = "", tmp = [];
                location.search.substr(1).split("&").forEach(function (i) {
                    tmp = i.split("=");
                    if (tmp[0] === val) result = decodeURIComponent(tmp[1]);
                });
                return result;
            }

            function reloadForm() {
              var r = confirm("Make sure you have updated your text, otherwise this will be lost.");
              if (r == true) {
                sbox = document.getElementById('id_tag')
                type = parse("type");
                selected = sbox.options[sbox.selectedIndex].value;
                document.location.href = "{% url 'edit_parameter' %}?type="+type+"&selected="+selected;
              }
            }
        </script>
<form class="form-horizontal" role="form" method="post" action="{% url 'edit_parameter' %}?type={{ content_type }}&selected={{ content_selected }}">
    {% csrf_token %}
    {{ contentform.media }}
    {{ contentform.as_p }}
    <input type="submit" value="Update text"/>
</form>
    {% if admin_tip and admin_tip.strip %}
    <center><h4><b><u>Tip</u> :</b> <i>{{ admin_tip }}</i></h4></center>
    {% endif %}
{% endif %}
{% endblock %}
