<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block datesforms %}{{ period_form.media }} {% endblock %}
{% block title %}Job{% endblock %}
{% block titlebar %}Care4Care Offer{% endblock %}
{% block content %}
{% load bootstrap_tags %}
    <div class="panel-orange">

        <div class="panel-heading">
            <h3 class="panel-title"> Register your offer</h3>
        </div>

        <div class="panel-body">

        	{% if registered %}
                <strong>Thank you for registering your offer ! </strong>

                <a href="/jobs">Go to your jobs list</a><br />
            {% else %}
                <!--<strong>Register your offer here!</strong><br /> 
                <br />
                <strong>Search by filtering the demands or direct click "Search demand" to get all demand!</strong><br />
                <br />
                <form method="post" action="{% url 'create_offer' %}">
                    {% csrf_token %}
                    {{ showDemandForm.as_p }}
                    <input type="submit" name="submit" value="Search demand" />
                </form> -->

                <form method="post" action="{% url 'create_offer' %}">
                    {% csrf_token %}

                    <!--{% if demands %}
                    <div>
                        <table class="table">
                            <thead>
                              <tr>
                                  <th>Status</th>
                                  <th>Date</th>
                                  <th>Help type</th>
                                  <th>Description</th>
                                  <th>View details</th>

                              </tr>
                            </thead>

                            <tbody>
                                {% for d in demands %}
                                  <tr>
                                    <td> {{ d.status}}</td>
                                    <td> {{ d.date}} </td>
                                    <td> {{ d.help_type.label}} </td>
                                    <td> {{ d.description}}</td>
                                    <td><li><input type="radio" name="choice" value="{{ d.pk }}">More details</a></li> </td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if error_no_demand %}
                        <strong><span style="color:red">{{ error_no_demand }}</span></strong>
                    {% endif %}
                    <br />
                    <hr />
                    <br /> -->
                    {{ job_form|as_bootstrap }}
                    {{ period_form|as_bootstrap }}
                    <!-- Provide a button to click to submit the form. -->
                    <input type="submit" class="btn btn-info" name="submit" value="Register your offer" />
                </form>
                <!--{% if error_no_choice %}
                        <strong><span style="color:red">{{ error_no_choice }}</span></strong>
                {% endif %} -->
            {% endif %}
        </div>
    </div>

{% endblock %}