{% extends "base.html" %}
{% load static %}
{% block datesforms %}{{ job_form.media }} {% endblock %}
{% block title %}Job{% endblock %}
{% block titlebar %}Care4Care Offer{% endblock %}
{% block content %}
{% load bootstrap_tags %}

	<div class="panel-orange">
        <div class="panel-heading">
            <h3 class="panel-title"> Offer Detail</h3>
        </div>

        <div class="panel-body">       


	{% if registered %}
        <strong>The offer was successfully update ! </strong>

        <a href="{% url 'view_jobs_list' %}">Back to the jobs list</a><br />
    {% else %}

        {% if send_email %}
            <strong>An email has been sent to the offerer and wait for an acknowledgement ! </strong>
            <a href="{% url 'view_jobs_list' %}">Back to the jobs list</a><br />
        {% else %}
       
            {% if creator_id == user.pk %}
                <br />
                <strong>You can also edit the field and then click 'update offer' to update the offer !</strong>
                <form id="user_form" method="post" action="{% url 'detail_offer' pk_offer=offer.pk %}">
                    {% csrf_token %}
                    {{ edit_form|as_bootstrap }}
                    <p><strong>Help type:</strong> {{ demand.help_type }}</p>
                    {{ period_form|as_bootstrap }}
                    <input class="btn btn-info" type="submit"  name="submit" value="Update offer" />
            </form>
            {% else %}
                <form id="user_form" method="post" action="{% url 'detail_offer' pk_offer=offer.pk %}">
                    {% csrf_token %}
                    {{ edit_form|as_bootstrap }}
                    <p><strong>Help type:</strong> {{ demand.help_type }}</p>
                    {{ period_form|as_bootstrap }}
                    <button class="btn btn-info" type="submit" name="Accept_offer" value="Accept_offer"><i class="fa fa-check fa-2x"> accept</i></button>
                </form>
            {% endif %}

        {% endif %}
    {% endif %}
    </div>
    </div>


{% endblock %}