{% load staticfiles i18n %}

{% trans "New task" as label_wizard %}
{% trans "My tasks" as label_mytasks %}
{% trans "All tasks" as label_alltasks %}
{% trans "Reports" as label_reports %}
{% trans "Help" as label_help %}
{% trans "Blog" as label_blog %}
{% trans "Search for APL" as placeholder_search %}
{% trans "Profile" as label_profile %}
{% trans "Sign out" as label_signout %}

{% trans "Dutch" as label_dutch %}
{% trans "English" as label_english %}
{% trans "French" as label_french %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">SCAPL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" id="apl_menu">
                        APL
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="apl_menu">
                        <li><a href="{% url 'wizard' %}"><span>{{ label_wizard }}</span></a></li>
                        <li><a href="{% url 'tasks' %}"><span>{{ label_alltasks }}</span></a></li>
                        <li><a href="{% url 'reports' %}"><span>{{ label_reports }}</span></a></li>
                        {% if request.session.recent|length > 0 %}
                        <li role="separator" class="divider"></li>
                        <h6 class="dropdown-header">{{ label_mytasks }}</h6>
                        {% for task in request.session.recent reversed %}
                        <li><a href="{% url 'wizard' apl_id=task.id.0 seq_id=task.id.1 %}"><span title="{{ task.sequence }}">{{ task.reference }}</span></a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                <li><a href="/help/">{{ label_help }}</a></li>
                <li><a href="/blog/">{{ label_blog }}</a></li>
            </ul>

            <ul class="navbar-form navbar-left" role="search">
                <div class="container navbar-search">
                    <input id="search-field" class="navbar-search-input form-control dropdown-toggle" placeholder="{{ placeholder_search }}" type="text">
                    <ul id="search-list" class="dropdown-menu navbar-search-results"></ul>
                </div>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="lang_menu">
                        <img src="{% static 'base/images/lang/flag-uk.png' %}"/>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" aria-labelledby="lang_menu">
                        <li class="active"><a href="#"><img src="{% static 'base/images/lang/flag-uk.png' %}"/><span>{{ label_english }}</span></a></li>
                        <li><a href="#"><img src="{% static 'base/images/lang/flag-fr.png' %}"/><span>{{ label_french }}</span></a></li>
                        <li><a href="#"><img src="{% static 'base/images/lang/flag-ne.png' %}"/><span>{{ label_dutch }}</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user_menu">
                        {{ request.user.get_short_name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" aria-labelledby="user_menu">
                        <li><a href="{% url 'profile' %}"><i class="entypo-user"></i><span>{{ label_profile }}</span></a></li>
                        <li><a href="{% url 'signout' %}"><i class="entypo-logout"></i><span>{{ label_signout }}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    $(document).ready(function() {
        $(document).click(function() {
            $('#search-field').val("");
            $('#search-list').empty().hide();
        });
        $('#search-list').click(function(e) {
            e.stopPropagation();
        });
        $('#search-field').on('input', function(e) {
            e.preventDefault();
            $('#search-list').empty();
            var query = $('#search-field').val();
            if (query.length >= 4) {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'search' %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        q: query,
                    },
                    success: function(response){
                        if (response.status == 200) {
                            $('#search-list').empty();
                            if (response.results) {
                                var results = $.parseJSON(response.results);
                                $.each(results, function(index, item) {
                                    $('#search-list').append($(document.createElement('li')).html(item)).show();
                                });
                            }
                        }
                    },
                });
            }
            return false;
        });
    });
</script>