{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}
{% block toolbar %} 
 	{% if not become_volunteer %}
		<li><a  style="color: white" href="{% url 'become_volunteer' %}">Become Volunteer</a></li>
	{% endif %}	
	{% if not full_procedure %}
		<li><a  style="color: white" href="{% url 'become_verified_member' %}">Become Verified Member</a></li>
	{% endif %}	
{% endblock %}

{% block titlebar %}Profile data{% endblock %}
{% block content %}

    {% if full_procedure %}
    <div id="full_procedure">
        <p>{{ full_procedure.text|safe }}</p>
    </div>
    {% endif %}

    {% if become_volunteer %}
    <div id="become_volunteer">
        <p>{{ become_volunteer.text|safe }}</p>
    </div>
    {% endif %}

</h1>
{% endblock %}