/* generic styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body.with-nav {
  padding-top: 70px;
}
div.navbar-search {
  position: relative;
}
input.navbar-search-input {
  position: absolute;
  margin: 0 auto;
  padding-left: 30px;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px 24px;
  border-radius: 14px;
}
.navbar-search-results {
    display: none;
    position: absolute;
    top: 33px;
    left: 30px;
    z-index: 100;
    padding: 0;
    margin: 0;
    width: 180px;
}
.navbar-search-results li {
  display: block;
  margin: 1px;
  padding: 4px;
}
.navbar-search-results li:first-child:before, .navbar-search-results li:first-child:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border: 5px outset transparent;
}
div.container {
  width: auto;
  max-width: 100%;
  padding: 0 0;
}
.modal {
  text-align: center;
}
a.no-decoration {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  margin-top: 10px;
  z-index: 1000;
}
/* index-specific style */
div.jumbotron {
  display: flex;
  height: 60%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
  padding-bottom: 12%;
}
/* admin-specific styles */
body.dashboard, body.change-list {
  margin: auto;
}
body.dashboard > div.container > div.colMS {
  width: 40%;
  margin: auto;
}
body.change-list > div.container > div.flex {
  width: 80%;
  margin: auto;
}
body.change-form > div.container > div.colM {
  width: 70%;
  margin: auto;
}
.table th a {
  text-decoration: none;
}
/* wizard-specific styles */
.modal-dialog.wizard {
  padding-top: 40px;
  vertical-align: top;
  width: 90%;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.note-editor.note-frame.panel {
  margin-bottom: 0;
}
.container-result {
  vertical-align: middle;
  height: 100%;
}
.row-result {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.result-text {
  text-align: left;
}
.panel-body-nopadding {
  padding: 0px;
}
.iframe-result {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0 auto;
  vertical-align: middle;
}
.pagination {
  display: block;
  margin: 0 0 0 0;
}
.note-editor .note-dropzone {
  opacity: 0 !important;
}
.inside-full-height {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}